button {
    background-color: #0D6AB6;
    color: white;
    display: flex;
    align-items: center;
    padding: 0.5em 2em;
    margin-bottom: 1em;
}

svg {
    width: 32px;
    height: 32px;
    margin-top: 0;
    margin-right: 0.5em;
    fill: white;
}
