.dataset-edit-component {
  .required-key {
    color: #a94442;
    margin-right: 10px;
    font-size: .6em;
    font-weight: bold;
    float: right;
    clear: both;
  }

  .required-icon {
    font-size: 1.5em;
  }

  fieldset {
    margin: 4rem 0;
  }
}
