.license-container {
    position: relative;
}

.license-content {
    max-height: 400px;
    min-height: 200px;
    overflow: auto;
    white-space: pre-line;
    padding: 1rem;
    border: 1px solid #ccc;
}

// .user-reason {
//     margin: 20px 0 0 0;
//     label {
//         display: inline-block;
//         width: 100%
//     }
//     textarea {
//         display: inline-block;
//         width: 100%
//     }
// }

// .dialog-actions {
//     margin-left: -15px;
// }

