header {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 2rem;

    span {
        display: inline-block;
        margin-right: 2rem;
        padding: 0 2rem;
        border-radius: 12px;
        border: 1px solid darken(rgb(227, 227, 227), 30%);
        background-color: darken(rgb(227, 227, 227), 10%);
    }
}

.btn-primary {
    margin-right: 6rem;
}

li {
    margin-top: 1rem;
}

.step-buttons {
    margin-top: 2rem;
}

span.command {
    display: inline-block;
    font-family: Lucida Console, Courier, monospace;
    background-color: darken(rgb(227, 227, 227), 5%);
    padding: 0.5rem;
}
