fieldset {
    margin: 2rem 0;
}

.nomination-status {
    font-size: 1.2em;
}

.edit-dates {
    margin-top: 15px;
    text-align: right;
}

.clear {
    clear: both;
}

.required-key {
    color: #a94442;
    margin-right: 10px;
    font-size: .6em;
    font-weight: bold;
    float: right;
    clear: both;

}

.required-icon {
    font-size: 1.5em;
}

