
// Navigation
// ---------------------------------------------------------------
.navbar {
    background: black;
    padding: 1em 0;

    ul {
        padding-left: 0;
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    .navbar-brand-image {
        margin: 0 auto;

        .logo {
            width: 120px;
            margin: auto;
        }
    }


    .navbar-collapse {
        display: flex;
        flex-direction: column;
        position: relative;

        .navbar-brand-image {
            strong {
                display: none;
            }
        }

        .nav {
            display: none;

            a {
                padding: 0.33em 0;
                display: inline-block;
            }
        }

        .nav.show {
            display: block;

            li.credentials {
                border-top: 1px solid #666;
                padding-top: 1em;
                margin-top: 1em;

                .username {
                    color: #e0e0e0 !important;
                }

                .logout {
                    margin-left: 0;
                }
            }
        }

        .navbar-toggle {
            position: absolute;
            left: 0;
            top: 3px;
        }

        @media (min-width: 720px) {
            flex-direction: row;
            align-items: center;

            .navbar-toggle {
                display: none;
            }

            .navbar-brand-image {
                display: flex;
                flex: 0 0 1;
                align-items: center;

                strong {
                    display: inline-block;
                    padding-left: 1em;
                    margin-left: 1em;
                    border-left: 1px solid #fff;
                }

                .logo {
                    display: inline-block;
                }
            }

            .nav {
                flex-grow: 1;
                display: flex;
                // flex-wrap: wrap;

                li {
                    margin-left: 2em;
                }

                li.credentials {
                    display: none;
                }
            }

            .navbar-right {
                flex-grow: 0;
                justify-content: flex-end;
            }
        }
    }

    .navbar-toggle {
        -webkit-appearance: none;
        background: transparent;
        border: 0;

        .icon {
            height: 1.5em;
            width: 1.5em;
            color: white;
        }
    }

    .nav {
        margin: 0;
        list-style-type: none;
        align-items: center;
    }

    .caret {
      display: inline-block;
      margin-left: 4px;
      font-size: smaller;
    }
}

.navbar-collapse {
    display: none;
}

@media (min-width: 900px) {
    .navbar-toggle {
        display: none;
    }

    .navbar-collapse {
        display: block;
    }
}

// body {
//     padding-top: 50px;
//     padding-bottom: 20px;
// }

// /* Wrapping element */
// /* Set some basic padding to keep content from hitting the edges */
// .body-content {
//     margin-top: 50px;
//     margin-bottom: 20px;
//     padding-left: 15px;
//     padding-right: 15px;
//     padding-top: 70px;
// }

// @media (min-width: 768px) {
//     .body-content {
//         padding-right: 40px;
//         padding-left: 40px;
//     }
// }

// .body-content .page-header {
//     margin-top: 0;
// }


// /* Hide/rearrange for smaller screens */
// @media screen and (max-width: 767px) {

// }


// /*
//  * Global add-ons
//  */

// .sub-header {
//     padding-bottom: 10px;
//     border-bottom: 1px solid #eee;
// }

// /*
//  * Top navigation
//  * Hide default border to remove 1px line.
//  */


// .logo {
//     padding: 10px;
//     width: 180px;
// }

// .second-navbar{
//     top:50px;
// }

// .navbar-white {
//     background: #fff;
// }

// .link-active > a {
//     color: #fff;
// }

// .navbar-right > li {
//     padding-right: 150px;
// }

// .navbar-right span.glyphicon {
//     margin-right: 0.5rem;
// }

.dropdown {
    position: relative;

    .dropdown-outer {
        margin: 15px 0 15px 25px;

        a {
            color: #FFF;
        }
    }

    .dropdown-toggle {
        .icon {
            margin-left: 4px;
            height: 0.8em;
            width: 0.8em;
            vertical-align: middle;
        }
    }

    &.open {
      .dropdown-menu {
        display: block !important;
      }
    }

    .dropdown-menu {
        position: absolute;
        right: 0;
        display: none;
        background: white;
        border: 1px solid #000;
        box-shadow: 1px 1px 3px rgba(255,255,255,0.4);
        list-style: none;
        padding: 4px;

        li {
          margin-left: 0 !important;
        }

        a {
            display: block !important;
            padding: 0.25em 0.5em !important;
            text-decoration: none;
            color: #000;
        }

        a:hover {
            background-color: #EEE;
            text-decoration: none !important;
        }
    }
}



.site-footer {
    border-top: 1px solid #e0e0e0;
    padding: 2em 0;
    margin-top: 5vw;

    p {
        margin: 0;
    }

    a {
        color: #0D6AB6;
    }

    .list-inline {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;

            &:not(:first-of-type) {
                margin-left: 2em;
            }
        }
    }

    @media(min-width: 720px) {
        display: grid;
        grid-template-columns: 1fr max-content;
    }
}
