.form-group > label {
    width: 100%;
}

label > input {
    font-weight: normal;
}

label span.required {
    color: #a94442;
    padding-left: 3px;
    font-size: 1.3em;
    font-weight: bold;
}

.url {
    font-weight: normal;
}